<%- include("templates/header") %> 

<div class="container my-5">
  <div class="text-center mb-4">
    <h1>Hello <%= username %>!</h1>
  </div>

  <div class="row">
    <% for(let i = 1; i <= 3; i++) { %>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <img src="/image<%= i %>.png" class="img-fluid rounded shadow" alt="Image <%= i %>">
      </div>
    <% } %>
  </div>

  <div class="text-center mt-4">
    <a href="/logout" class="btn btn-danger">Logout</a>
  </div>
</div>

<%- include("templates/footer") %> 
